<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="kr.co.smf.system.agent.AgentMapper">
    <!-- 데이터 삽입 매핑 구문 -->
    <insert id="insertAgentInfo"
            parameterType="Agent">
        <selectKey order="BEFORE" keyColumn="NO" keyProperty="no" resultType="int">
            SELECT AGENT_NO_SEQ.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO AGENT
            (AGENT_IP_ADDRESS, NO, USER_PHONE_NUMBER, AGENT_NAME)
        VALUES
            (#{agentIpAddress}, #{no}, #{userPhoneNumber}, #{name})
    </insert>

    <!-- 조건 조회 매핑 구문 -->
    <select id="selectAgentInfo"
            parameterType="Agent"
            resultType="Agent">
        SELECT
             AGENT_IP_ADDRESS
           , NO
           , USER_PHONE_NUMBER
           , AGENT_NAME
        FROM AGENT
        <where>
            <if test="agentName != null and agentName != ''">
                AND AGENT_NAME LIKE '%${agentName}%'
            </if>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
        </where>
    </select>

    <!-- 목록 조회 매핑 구문 -->    
    <select id="selectAllAgentInfo"
            parameterType="Map"
            resultType="Agent">
        SELECT AGENT_IP_ADDRESS
	           , NO
	           , USER_PHONE_NUMBER
	           , AGENT_NAME
        FROM (
        	SELECT
	            AGENT_IP_ADDRESS
	           , NO
	           , USER_PHONE_NUMBER
	           , AGENT_NAME
	           , ROWNUM
        	FROM AGENT
	        <where>
	           <if test="agentName != null and agentName != ''">
	               AND AGENT_NAME LIKE '%${agentName}%'
	           </if>
	           <if test="userPhoneNumber != null and userPhoneNumber != ''">
	               AND USER_PHONE_NUMBER = #{userPhoneNumber}
	           </if>
	        </where>
	    )
        <where>
        	<if test="pageNo != null and pageNo != ''">
        		AND ROWNUM BETWEEN ${pageNo} * 10 AND (${pageNo} + 1) * 10
        	</if>
        </where>
    </select>
    
    <!-- 데이터 수정 매핑 구문 --> 
    <update id="updateAgentInfo"
            parameterType="Map">
        UPDATE AGENT
        <set>
            <if test="agentName != null and agentName !=''">
                AGENT_NAME = #{agentName},
            </if>
            <if test="previousAgentIpAddress != null and previousAgentIpAddress != ''" >
                AGENT_IP_ADDRESS = #{nowAgentIpAddress},
            </if>
        </set>
        WHERE AGENT_IP_ADDRESS = #{previousAgentIpAddress}
    </update>
    
    <!-- 데이터 삭제 매핑 구문 -->
    <delete id="deleteAgentInfo"
            parameterType="Agent">
        DELETE FROM AGENT
        <where>
            <if test="agentIpAddress != null and agentIpAddress != ''">
                AND AGENT_IP_ADDRESS = #{agent}
            </if>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
        </where>
    </delete>
</mapper>