<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.co.smf.system.setting.GrowthSettingMapper">
    
    <insert id="insertGrowthSetting" parameterType="kr.co.smf.system.setting.Setting">
        INSERT INTO GROWTH_SETTING_INFO
        VALUES(
        #{userPhoneNumber}, #{settingName}, #{temperature}, #{humidity}, #{co2}, SYSDATE
        )        
    </insert>

	<select id="selectAllGrowthSetting" parameterType="Map"
	    resultType="kr.co.smf.system.setting.Setting">
	    SELECT USER_PHONE_NUMBER
	    , SETTING_NAME
	    , TEMPERATURE
	    , HUMIDITY
	    , CO2
	    , SETTING_TIME
	    FROM GROWTH_SETTING_INFO
	    WHERE USER_PHONE_NUMBER LIKE '${userPhoneNumber}'
	
	</select>

	<select id="selectGrowthSetting" parameterType="kr.co.smf.system.setting.Setting"
	    resultType="kr.co.smf.system.setting.Setting">
	    SELECT USER_PHONE_NUMBER
	    , SETTING_NAME
	    , TEMPERATURE
	    , HUMIDITY
	    , CO2
	    , SETTING_TIME
	    FROM GROWTH_SETTING_INFO
	    <where>
            <if test="userPhoneNumber != null and userPhoneNumber != ''">
                AND USER_PHONE_NUMBER LIKE '${userPhoneNumber}'
            </if>
            <if test="settingName != null and settingName != ''">
                AND SETTING_NAME LIKE '${settingName}'
            </if>
       </where>
	    
	</select>
	
	<update id="updateGrowthSetting" parameterType="kr.co.smf.system.setting.Setting">
	    UPDATE GROWTH_SETTING_INFO SET
	        TEMPERATURE = #{temperature}
	        , HUMIDITY = #{humidity}
	        , CO2 = #{co2}
	        , SETTING_TIME = SYSDATE
	    WHERE USER_PHONE_NUMBER LIKE '${userPhoneNumber}' AND SETTING_NAME LIKE '${settingName}'  
	</update>
	
	<delete id="deleteGrowthSetting" parameterType="kr.co.smf.system.setting.Setting">
	    DELETE
	    FROM GROWTH_SETTING_INFO
	    WHERE USER_PHONE_NUMBER LIKE '${userPhoneNumber}' AND SETTING_NAME LIKE '${settingName}' 
	</delete>	

</mapper>