<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.co.smf.system.measurement.GrowthMeasureMapper">
    <insert id="insertGrowthMeasureInfo"
            parameterType="Measurement">
        INSERT INTO GROWTH_MEASURE_INFO
            (AGENT_IP_ADDRESS, MEASURE_TIME, TEMPERATURE, HUMIDITY, CO2)
        VALUES
            (#{agentIpAddress}, #{measureTime}, #{temperature}, #{humidity}, #{co2})
    </insert>
    
    <select id="selectAllGrowthMeasureInfo"
    		parameterType="Map"
    		resultType="Measurement">
    	SELECT AGENT_IP_ADDRESS
	             , MEASURE_TIME
	             , TEMPERATURE
	             , HUMIDITY
	             , CO2
	    FROM (
	    	SELECT AGENT_IP_ADDRESS
	             , MEASURE_TIME
	             , TEMPERATURE
	             , HUMIDITY
	             , CO2
	             , ROWNUM
	        FROM GROWTH_MEASURE_INFO
	        <where>
	            <if test="agentIpAddress != null and agentIpAddress != ''">
	                AND AGENT_IP_ADDRESS LIKE '%${agentIpAddress}%'
	            </if>
	            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
	                AND MEASURE_TIME BETWEEN TO_DATE(#{startTime}, 'YYYY-MM-DD') AND TO_DATE(#{endTime}, 'YYYY-MM-DD') +  0.99999
	            </if>
	        </where>
        )
        <where>
        	<if test="pageNo != null and pageNo != ''">
        		AND ROWNUM BETWEEN ${pageNo} * 10 AND (${pageNo} + 1) * 10
        	</if>
        </where>
    </select>
    
    <select id="selectGrowthMeasureInfo"
            parameterType="Measurement"
            resultType="Measurement">
        SELECT AGENT_IP_ADDRESS
             , MEASURE_TIME
             , TEMPERATURE
             , HUMIDITY
             , CO2
        FROM GROWTH_MEASURE_INFO
        <where>
            <if test="agentIpAddress != null and agentIpAddress != ''">
                AND AGENT_IP_ADDRESS LIKE '%${agentIpAddress}%'
            </if>
            <if test="measureTime != null and measureTime != ''">
                AND MEASURE_TIME = TO_DATE(#{measureTime}, 'YYYY-MM-DD-HH24')
            </if>
        </where>
    </select>
    
    <delete id="deleteGrowthMeasureInfo"
    		parameterType="Measurement">
    	DELETE FROM GROWTH_MEASURE_INFO
    	<where>
            <if test="agentIpAddress != null and agentIpAddress != ''">
                AND AGENT_IP_ADDRESS LIKE '%${agentIpAddress}%'
            </if>
            <if test="measureTime != null and measureTime != ''">
                AND MEASURE_TIME = TO_DATE(#{measureTime}, 'YYYY-MM-DD-HH24')
            </if>
        </where>
    </delete>
</mapper>