<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.co.smf.system.user.UserMapper">
    <!-- 데이터 삽입 매핑 구문 -->
    <insert id="insertUserInfo"
            parameterType="User">
        <selectKey order="BEFORE" keyColumn="NO" keyProperty="no" resultType="int">
            SELECT USER_NO_SEQ.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO SERVICE_USER
            (PHONE_NUMBER, NO, PASSWORD, NAME, MAIL, PERMISSION)
        VALUES
            (#{phoneNumber}, #{no}, #{password}, #{name}, #{mail}, #{permission})
    </insert>
    
    <!-- 조건 조회 매핑 구문 -->    
    <select id="selectUserInfo"
            parameterType="User"
            resultType="User">
        SELECT 
            PHONE_NUMBER
          , NO
          , PASSWORD
          , NAME
          , MAIL
          , PERMISSION
        FROM SERVICE_USER
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND PHONE_NUMBER = #{phoneNumber}
            </if>
            <if test="password != null and password != ''">
                AND PASSWORD = #{password}
            </if>
        </where>
    </select>
    
    <!-- 목록 조회 매핑 구문 -->
    <select id="selectAllUserInfo"
            parameterType="User"
            resultType="User">
        SELECT
            PHONE_NUMBER
          , NO
          , PASSWORD
          , NAME
          , MAIL
          , PERMISSION
        FROM SERVICE_USER
        <where>
            <if test="name != null and name != ''">
                AND NAME LIKE '%${name}%'
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND PHONE_NUMBER LIKE '%${phoneNumber}%'
            </if>
            <if test="mail != null and mail != ''">
                AND MAIL LIKE '%${mail}%'
            </if>
        </where>
    </select>
    
    <!-- 데이터 수정 매핑 구문 -->
    <update id="updateUserInfo"
            parameterType="User">
        UPDATE SERVICE_USER
        <set>
            <if test="phoneNumber != null and phoneNumber != ''">
                PHONE_NUMBER = #{phoneNumber},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password},
            </if>
            <if test="mail != null and mail != ''">
                MAIL = #{mail},
            </if>
        </set>
        WHERE NAME = #{name}
    </update>
    
    <!-- 데이터 삭제 매핑 구문  -->
    <delete id="deleteUserInfo"
            parameterType="User">
        DELETE FROM SERVICE_USER
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
        </where>
    </delete>
</mapper>